.container{
  width: 100%;
  height: 92vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(32%2c 32%2c 32%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c525.831C96.616%2c551.343%2c198.014%2c492.679%2c279.057%2c434.22C357.618%2c377.551%2c417.129%2c296.197%2c446.366%2c203.848C473.762%2c117.316%2c459.276%2c25.089%2c436.393%2c-62.744C415.437%2c-143.181%2c380.892%2c-220.54%2c320.832%2c-278.003C263.808%2c-332.561%2c186.859%2c-356.632%2c110.091%2c-374.936C36.586%2c-392.462%2c-36.67%2c-388.013%2c-111.926%2c-381.185C-204.793%2c-372.759%2c-311.774%2c-392.551%2c-381.249%2c-330.354C-451.264%2c-267.673%2c-451.974%2c-159.901%2c-463.305%2c-66.613C-474.418%2c24.88%2c-499.356%2c128.5%2c-446.122%2c203.737C-393.232%2c278.488%2c-272.329%2c254.627%2c-198.087%2c308.229C-116.918%2c366.832%2c-96.796%2c500.272%2c0%2c525.831' fill='%231a1a1a'%3e%3c/path%3e%3cpath d='M1440 1146.173C1549.02 1134.0900000000001 1659.964 1101.121 1738.634 1024.684 1811.579 953.81 1796.278 833.533 1850.4 747.423 1917.156 641.212 2085.23 592.012 2089.382 466.633 2093.38 345.90700000000004 1959.1950000000002 268.594 1868.915 188.34300000000002 1788.4850000000001 116.84800000000001 1699.362 58.66300000000001 1596.152 28.196000000000026 1492.831-2.3039999999999736 1382.624-17.726 1279.809 14.440000000000055 1177.885 46.327999999999975 1091.674 117.62599999999998 1030.499 205.16500000000002 972.845 287.666 963.116 389.753 947.989 489.26 932.739 589.575 917.997 688.845 941.979 787.438 969.691 901.3679999999999 1000.421 1027.426 1095.561 1095.9569999999999 1191.652 1165.174 1322.296 1159.2179999999998 1440 1146.173' fill='%23262626'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #fff;
}

.headingfont{
  font-size: 3rem;
  margin: 0;
}

.knowMore{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s;
}

.knowMore:hover{
  transform: translateX(-20px) 

}

.button{
  padding: 8px 13px;
  border: none;
  font-family: 'Poppins';
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  color: #fff;
  transition: all 0.5s;
}

.button:hover{
  background:transparent;
}